{% extends 'layout.html' %}
{% block content %}

    {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1>Сайт: {{ url.name }}</h1>
                <table class="table table-bordered table-hover mt-3" data-test="url">
                    <tr>
                        <td>ID</td>
                        <td>{{ url.id }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ url.name }}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
                    </tr>
                </table>
                
                <h1>Проверки</h1>
                <form action="/urls/{{ url.id }}/checks" method="post">
                    <div class="row mt-3">
                        <div class="col-3">
                            <button type="submit" value="Запустить проверку" class="btn btn-primary w-100">Запустить проверку</button>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered table-hover mt-3" data-test="checks">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Код ответа</th>
                            <th>h1</th>
                            <th>title</th>
                            <th>description</th>
                            <th>Дата создания</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for check in checks %}
                            <tr>
                                <td>{{ check.id }}</td>
                                <td>{{ check.status_code or '' }}</td>
                                <td>{{ check.h1 if check.h1 else ''}}</td>
                                <td>{{ check.title if check.title else ''}}</td>
                                <td>{{ check.description if check.description else ''}}</td>
                                <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}